doctype html
html
  head
    title #{frontmatter.title} | vespaiach.com 
    meta(name='description', content=`${frontmatter.excerpt}`)
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:wght@400;500;600;700&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="/css/prism.css")
    link(rel="stylesheet", href="/css/main.css")
    script(src="/js/prism.js")
  body
    div(class='header')
      h1(class='title') #{frontmatter.title}
      h6(class='subtitle')
        | Vespaich on #{frontmatter.date} | Link at 
        a(href=frontmatter.github) Github
    div(class="page") 
      != content
    div(class="footer")
      a(href="https://www.linkedin.com/in/trinh-nguyen-0a701526") LinkedIn
      | &nbsp;|&nbsp;
      a(href=`https://github.com/vespaiach/personal_website/issues/new?title=[Report] ${frontmatter.title}&body=[${frontmatter.title}](${frontmatter.github})`) Report
      | &nbsp;|&nbsp;vespaich.com © #{new Date().getFullYear()} 
