<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title><%= frontMatter.title %> | vespaiach.com</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="<%= cssFileName %>" />
    <script src="microlight.js" defer></script>
    <script defer>
      document.addEventListener('DOMContentLoaded', (event) => {
      debugger
        microlight.reset('language-js');
      });
    </script>
  </head>

  <body>
    <div class="w-full max-w-2xl p-5 mx-auto pt-4">
      <div>
        <a href="/" class="text-blue-500">← HOME</a>
      </div>

      <article class="prose prose-neutral prose-lg prose-headings:font-serif mb-12">
        <h2 class="font-bold mb-1 mt-12"><%= frontMatter.title %></h2>
        <p class="mb-12"><%= frontMatter.date %></p>
        <%- content %>
      </article>

      <div class="flex justify-end my-11">
        <a href="<%= frontMatter.github %>" class="text-xs font-semibold text-secondary no-underline">GITHUB →</a>
      </div>
    </div>
  </body>
</html>
